    <div class="container">
	  <table><tr><td valign="top">
		<img src="/images/header.png">
	   </td>
	   <td>
		 <h2>Operations:<h2>
        <blockquote><a href="/operations" target="_blank">/operations</a> A list of available operations</blockquote>
        <h2>Version</h2>
        <blockquote><a href="/version" target="_blank">Current version</a></blockquote>
		</td></tr></table>
    </div>
    <div class="container">
    </div>

